html,
body {
   padding: 0;
   margin: 0;
   font-family: 'Inter', sans-serif;
}

* {
   box-sizing: border-box;
}

.license__box{
   padding: 8px;
}
.license__box .nextui-c-lfcDHB{
   padding: 5px 0 !important;
}
.license__box .nextui-collapse-title, .box__text, .nextui-collapse-title-content-right{
   color: #fff;
}
.license__box .nextui-collapse-title{
   font-size: 16px;
}
.license__box .box__item{
   display: flex;
   flex-wrap: wrap;
}
.license__box .box__item, .license__box .box__item > div{
   padding: 0;
}
.license__box .box__item > div > div{
   display: block !important;
}
.box__text{
   white-space: nowrap;
   width: 100%;
}
.license__box .box__img{
   width: 60px;
   height: 60px;
   background-color: blueviolet;
}

.nextui-collapse path{
   stroke: #fff !important;
}

.w-100{
   width: 100%;
}
.h-100{
   height: 100%;
}
.text-nowrap{
   white-space: nowrap;
}